<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <img src="assets/about_me/test-icon.png" alt="about me pic" style="width: 250pt;" />
    </div>

    <div class="col-sm-6">
      <div class="container">

        <div class="row">
          <h3>
            Scott Cheng JX
          </h3>
        </div>

        <div class="row">
          <h4>
            Brief Description ...
          </h4>
        </div>

      </div>
    </div>

  </div>
</div>

